body {
  background-color: #F283B6;
  background-image: url('sidewalk.jpg');
  /* took picture from google images */
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  font-family: 'Coiny', cursive;
  font-size: 75px;
  margin-top: 20px;
  margin-left: 530px;
  color: #C71585;
  text-shadow: 0 0 6px white;
  letter-spacing: 2px;
}

.container {
  margin: 0 auto;
  width: 900px;
  height: 300px;
}
.btn {
  font-size: 40px;
  border: none;
  border-radius: 100px;
  display: inline-block;
}

button:nth-child(1) {
   width:  150px;
   height: 140px;
   background-color: #BA55D3;
   color: #5E2D79;
   margin: 0;
}

button:nth-child(2) {
   width:  150px;
   height: 140px;
   background-color: #77dd77;
   color: #308014;
   margin-right: 0;
}

button:nth-child(3) {
  width:  150px;
  height: 140px;
  background-color: #fdfd96;
  color: #999900;
}

button:nth-child(4) {
   width:  150px;
   height: 140px;
   margin-right: 0;
   background-color: #779ecb;
   color: #325C74;
}

button:nth-child(5) {
    width:  150px;
   height: 140px;
   margin-right: 0;
   background-color: #ffb347;
   color: #FF7547;
}


#cont {
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin-left: 620px;
  margin-bottom: 30px;
  background-color: #C71585;
  color: white;
  display: inline-block;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #EDBFB7;
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 180px;
  bottom: 0;
  left: 0;
  color: #575294;
  font-size: 20px;
}

#score {
  width:  100%;
  margin-left: 100px;
}

#pat {
  width: 100%;
  margin-left: 100px;
}

#try {
background-color: #aaaaaa;
display: none;
font-size: 20px;
margin-left: 620px;
margin-bottom: 30px;
cursor: pointer;
width: 100px;
height: 50px;
border: none;
}

#status{
  margin-left: 100px;
}








